body {
  background-color: #FFF;
}

header {
  background-color: #40BCD8;
  height: 50px;
  padding-top: 15px;
}

footer {
  background-color: #40BCD8;
  clear: both;
}
header ul {
  margin-top: 0;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #FFF;
}

li {
  list-style: none;
}
header a {
  font-size: 2.3em;
}

article h3 {

}



/*article p {

  padding: 20px;
}*/

.link {
  display: inline-table;

}
