body {
  background-color: #FFF;
}

header {
  background-color: #40BCD8;
  height: 50px;
  padding-top: 15px;
}

footer {
  background-color: #40BCD8;
  clear: both;
  height: 50px;
}
header ul {
  margin-top: 0;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}
header a {
  font-size: 2.3em;
}

/*.link {
  display: inline;
}*/

article.tile {
  float:left;
  border-style: solid;
  border-color: #000;
  width: 13%;
  height: 250px;
  border-radius: 10%;
  margin: 10px;
}
